ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: black;
}

li a.active {
    color: white;
    background-color: black;
}


body {
    background-color: #c1c1c4;
}

#heading {
 font-family: 'robotregular;'
 font-size: 150px;
}

ul#my-nav{
    background-color: #c1c1c4;
    border-bottom: none;
}


div.News{
    margin-left: 950px; font-family: 'robotregular;' font-size: 75px
}


